
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}
nav
{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 16px;    
    background-color: #cafdff   ;

}
header{
    background-color: #eadcffff   ;
    height: calc(100vh-70px)       ;
    padding: 24px   ;
    display: flex;
    align-items: center;
    justify-content: center;   
}
h1
{
    font-size: 72px ;
  
}  
.subheader{
    font-size: 36px ;
    margin: 16px 0 24px 0  ;
  

} 
button
{
    padding: 8px 16px ;
    font-size: 24px ;
    background-color: #05c7cf   ;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
   
}   

a{
   
    color: black;   
    font-size: 24px ;
    font-weight: 700;
}
.logo
{
    width: 300px    ;
}
ul
{
    display: flex;
    
}  
li
{
  list-style-type   : none;
  padding: 16px;
} 
.row
{
    width: 100%;
    max-width: 1300px;
    display: flex   ;
    align-items: center;
    justify-content: center;
}
/*About section*/

#about
{
    padding: 48px 0;
    background-color: #f8ffdc;
  
}
h2{
    font-size: 60px ;
    text-align: center;
    margin-bottom: 24px;    
}
.section__discription
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.about__img--wrapper{
    width: 40%   ;
}
img{
    width: 100%;
}
.section__discription--wrapper
{
    width: 60%   ; 
    padding: 0 24px;

}
.about__img--wrapper,
.section__discription--wrapper
{
   padding: 0 24px  ;
}
.section__description--para
{
    font-size: 20px ;
    margin-bottom: 24px; 
    line-height: 1.5;   
}
/*Discord section*/
#discord{
    background-color: #cefeff;

}